<!DOCTYPE html>
<html>
<head > 
  <title>MemariVaMohit</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<link href="/assets/css/template.css" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
      <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/css/template.css" rel="stylesheet">
  </head>
  
<body style="font-family:BYekan; <% if params[:controller] == 'contacts' %> background-size:cover;background-image: url(/assets/14.jpg);%><%end%>">

<!-- **************** header ***************** -->



      <header id="header" class="">
      <nav id="topbar" class="site-topbar visible-lg visible-md">
          <div style="margin-left:40%">به وب سایت مشاوران معماری و محیط خوش آمدید </div>
        </nav>
          <nav class="navbar navbar-default">
            <div class="container-fluid" style="margin-right:34%;">
    <!-- Brand and toggle get grouped for better mobile display -->


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="float:right;">
      <ul class="nav navbar-nav">
        <li><%= link_to "تقدیر نامه ها", taghdirname_profiles_path,:method => :get , style: "font-family:BNazanin;font-weight: bold;font-size: 132%;"%></li>

                        <li><%= link_to "پروژه ها", ourprojects_profiles_path,:method => :get , style: "font-family:BNazanin;font-weight: bold;font-size: 132%;"%></li>
                         

                        <li><%= link_to "تماس با ما", new_contact_path,:method => :get , style: "font-family:BNazanin;font-weight: bold;font-size: 132%;"%></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="font-family:BNazanin;font-weight: bold;font-size: 132%;">کادر فنی <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "معماری", memari_profiles_path,:method => :get , :class => "button" , style: "font-family:BNazanin;font-weight: bold;font-size: 132%;"%></li>
                          <li><%= link_to "تاسیسات", tasisat_profiles_path, :method => :get ,:class => "button" , style: "font-family:BNazanin;font-weight: bold;font-size: 132%;"%></li>
                          <li><%= link_to "سازه", saze_profiles_path,:method => :get , :class => "button" , style: "font-family:BNazanin;font-weight: bold;font-size: 132%;"%></li>
                            <!-- <li style="direction:rtl;"><a href="#">تاسیسات</a></li>
                            <li style="direction:rtl;"><a href="#">معماری</a></li>
                            <li style="direction:rtl;"><a href="#">سازه</a></li> -->
          </ul>
        </li>
      </ul>
      
      <ul class="nav navbar-nav navbar-left">
      <li><%= link_to "خانه", root_url,:method => :get , style: "font-family:BNazanin;font-weight: bold;font-size: 132%;"%></li>

      </ul>
    </div><!-- /.navbar-collapse -->
      <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
            <% if current_user.nil? %>
                     <%= link_to "ورود", new_user_session_path , :class=>"navbar-brand" , style:"margin-left: -110%;color: #AD1137;font-size: 155%;font-family: BNazanin;"%>
                      
                  <% else %>
                    <%= link_to  'خروج' , destroy_user_session_path ,:class =>"navbar-brand", style:"margin-left: -110%;color: #AD1137;font-size: 155%;font-family: BNazanin;", method: :delete %>
                  <% end %>
      </div>
  </div><!-- /.container-fluid -->
</nav>
      </header>

<!-- ************ payane header ************* -->
 <% if notice.present? %>
  <p class="notice"><%= notice %></p>
  <% end %>
  <% if alert.present? %>
    <p class="alert"><%= alert %></p>
  <% end %>

<div style="margin-right:15%;margin-left:15%" >
<%= yield %>
</div>
<br><br>
<br><br>
<br><br>
<br><br>
<!-- ********** footer ********** -->

 <footer id="footer" class="site-footer" >
        <div class="container">

          <div id="sidebar-footer-1">
            <div class="row">
                آدرس : خیابان خواجه عبدالله انصاری-خیابان عراقی-کوچه زنبق-شماره ۱۱ 
            </div>
          </div>

          <div id="sidebar-footer-2">
          تلفن: ۰۲۱-۲۲۳۱۸۲۱۷-۱۹   فاکس: ۲۲۵۱۲۶۵۳ </br> 
          Email: info@memary-va-mohit.com
          </div>

          <div class="copyright"><p>© 2015 <br />TPEsoft</p></div>
        </div>
      </footer>
      <!-- ************* payane footer *************** -->
          <script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap-3.1.1.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.isotope.min.js?v=1.5.26"></script>
    <script type="text/javascript" src="/assets/js/jquery.singlePageNav.min.js"></script>
    <script type="text/javascript" src="/assets/js/main.js"></script>

</body>
</html>
